@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ul {
    display: flex;
    font-size: 18px;
    color: #e5e7eba7;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
   
    
  }

  .header .logo img{
    width:100px;
    height:100px;
    margin: 5px;
    border-radius: 50%;
  }
  /* Hero CSS */ 

  .hero{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap:3%;
    color: #ffffff;
  }

  .hero .left img {
    width: 350px;
  }

  .right h2 {
    font-size: 48px;
    margin: 0%;
  }

  .right .text1{
    font-size: 18px;
    max-width: 300px;
    line-height: 20px;
    padding: 0%;
    margin-bottom: 10px;
  }

  button {
    color: #ffffff;
    background-color: #3882f6;
    border-color: #3882f6;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
    border: 0px;
  }